name: CI

on:
  push:
    branches: [ master, testing, 'release/v[0-9].[0-9]' ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 21 * * *'

jobs:
  lint_and_clippy:
    name: Lint and Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          override: true
          components: 'rustfmt,clippy'
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Run rustfmt
        run: cargo fmt --all -- --check
      - name: Run clippy
        run: cargo clippy --workspace -- -D warnings

  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        rust: [stable]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Setup Rust
      uses: hecrj/setup-rust-action@v1.3.4
      with:
        rust-version: ${{ matrix.rust }}
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Build
      run: cargo build --verbose --workspace
    - name: Run tests
      run: cargo test --verbose --workspace

  address_sanitizer:
    name: Address sanitizer
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with: {toolchain: nightly, profile: minimal, override: true}
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Run test with sanitizer
        env:
          RUSTFLAGS: -Z sanitizer=address
          RUSTDOCFLAGS: -Z sanitizer=address
        run: cargo test --target x86_64-unknown-linux-gnu --workspace
